body {
  background-color: black;
  color: aqua;
  font-family: 'Lobster', cursive, sans-serif;
  text-align: center;
}

.container {
  text-align: center;
}

h1 {
  font-size: 50px;
}

@media (min-width: 768px) {
  h1 {
    font-size: 150px;
  }
}
